{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
<title>{% block title %} {% endblock %}</title>
<link
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
rel="stylesheet"
integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% comment %} <link href="{% static 'css/icon.css' %}" rel="stylesheet"> {% endcomment %}
    </head>
<body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                {% comment %} {% if request.user.is_authenticated %} {% endcomment %}
              <a class="nav-link border rounded py-1 px-3 nav-link d-flex align-items-center" href="{% url 'logout_page' %}">Sign out 
              <i class="fa fa-sign-out"></i>
            </a>
        </li>
    </ul>

      <span style="padding:10px"> 
        <div class="alert alert-danger" role="alert">
         welcome, {{ request.session.name }}
         
        </div>
      </span>
      {% comment %} {% endif %} {% endcomment %}
    </div>
</nav>
    {% endblock %}
</body>
</html>
