 {% extends "studentapp/base.html" %}
 {% block content %}
   <div class="box">
     <form action ="{% url 'login_page' %}" method="post">
       <h2>Sign in</h2>
       {% if messages %}
                   {% for message in messages %}
                     <div class="alert alert-danger" role="alert">
                       {{ message }}
                     </div>
                   {% endfor %}
                   {% endif %}
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" name="username">
                <span>Username</span>
               
            </div>
            <div class="inputBox">
                <input type="password" name="password">
                <span>Password</span>
               
            </div>
            <div class="links">
                <a href="">Forget password</a>
                <a href="{% url 'register_page' %}">SignUp</a>
            </div>
            <input type="submit" value="login">
        </div>
    </form>    
{% endblock %}